var-bg = #e8eef3

var-node            = hsla(208, 25%, 86%, 0.94)
var-node-error      = hsla(0, 100%, 50%, 0.94)
var-node-hover      = hsla(208, 25%, 80%, 0.94)
var-node-border     = hsl(208, 17%, 71%)
var-node-border-bg  = hsla(208, 25%, 86%, 0.94)
var-node-hover-border = hsl(208, 17%, 65%)
var-node-icon       = hsl(255, 0%, 100%)
var-node-icon-big   = hsl(255, 0%, 100%)
var-node-icon-small = hsl(255, 0%, 100%)

var-node-selected        = hsla(192, 25%, 92%, 0.94)
var-node-selected-border = hsl(0, 0%, 50%)
var-node-selected-icon   = hsl(194, 8%, 20%)
var-node-deselected      = hsla(192, 25%, 97%, 0.94)
var-node-deselected-border = hsl(194, 8%, 85%)
var-node-deselected-icon = hsl(194, 8%, 75%)

var-export-bg = hsla(140, 25%, 86%, 0.94)

var-type-a = hsl(207, 35%, 25%)
var-type-b = hsl(207, 35%, 31%)
var-text-bg = hsla(0, 0%, 100%, 0.2)
var-tooltip-bg = hsla(0, 0%, 100%, 0.9)

var-selection-box        = hsla(0, 0%, 50%, 0.15)
var-selection-box-hover  = hsla(0, 0%, 40%, 0.25)
var-selection-box-border = hsl(0, 0%, 50%)

var-menu-modal-bg = hsla(0, 0%, 100%, 0.6)
var-menu-bg       = hsla(208, 25%, 86%, 0.94)
var-menu-bg-hover = hsla(208, 25%, 80%, 0.94)
var-menu-border   = hsl(208, 17%, 71%)
var-menu-icon-bg  = hsl(208, 17%, 76%)
var-port-bg = rgba(255,255,255,0.9)

var-edge-bg = hsl(0, 0%, 90%)
var-edge-hover-bg = hsl(0, 0%, 50%)
var-edge-width = 4px

@require "./the-graph-spectrum"
